Source: simple-scan
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Jörg Frings-Fürst <debian@jff.email>
Standards-Version: 4.7.2
Rules-Requires-Root: no
Build-Depends:
 appstream <!nocheck>,
 debhelper-compat (= 13),
 dh-sequence-gnome,
 dh-sequence-scour,
 gettext,
 gir1.2-rsvg-2.0,
 itstool,
 libadwaita-1-dev,
 libcairo2-dev,
 libcolord-dev,
 libfribidi-dev,
 libglib2.0-dev,
 libgirepository1.0-dev,
 libgtk-4-dev,
 libgdk-pixbuf-2.0-dev,
 libgusb-dev,
 libhandy-1-dev (>= 1.6.0),
 libjson-glib-dev,
 libpackagekit-glib2-dev,
 libsane-dev,
 libwebp-dev,
 libxml2-utils,
 meson,
 python3-cairo,
 python3-gi,
 python3-gi-cairo,
 python3-scour,
 scour,
 valac,
 zlib1g-dev
Homepage: https://apps.gnome.org/SimpleScan/
Vcs-Git: https://git.jff.email/cgit/simple-scan.git
Vcs-Browser: https://git.jff.email/cgit/simple-scan.git

Package: simple-scan
Architecture: linux-any
Depends:
 default-dbus-session-bus | dbus-session-bus,
 xdg-utils,
 ${misc:Depends},
 ${shlibs:Depends}
Description: Simple Scanning Utility
 Simple Scan is an easy-to-use application, designed to let users
 connect their scanner and quickly have the image/document in an
 appropriate format.
 .
 Simple Scan is basically a frontend for SANE - which is the same
 backend as XSANE uses. This means that all existing scanners will
 work and the interface is well tested.
