Source: simple-scan
Section: gnome
Priority: optional
Maintainer: Jörg Frings-Fürst <debian@jff-webhosting.net>
Standards-Version: 3.9.6
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 gnome-common,
 gnome-pkg-tools (>= 0.10),
 intltool,
 libcairo2-dev,
 libcolord-dev,
 libdbus-glib-1-dev,
 libglib2.0-dev (>= 2.32),
 libgtk-3-dev,
 libgudev-1.0-dev,
 libjpeg-dev,
 libsane-dev,
 python-scour,
 libsqlite3-dev,
 valac (>= 0.22),
 yelp-tools,
 zlib1g-dev (>= 1.2.7)
Homepage: https://launchpad.net/simple-scan
Vcs-Git: git://anonscm.debian.org/collab-maint/simple-scan.git
Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/simple-scan.git

Package: simple-scan
Architecture: any
Depends:
 dbus-x11 (>= 1.6),
 gnome-icon-theme-symbolic | adwaita-icon-theme,
 xdg-utils,
 ${misc:Depends},
 ${shlibs:Depends}
Description: Simple Scanning Utility
 Simple Scan is an easy-to-use application, designed to let users
 connect their scanner and quickly have the image/document in an
 appropriate format.
 .
 Simple Scan is basically a frontend for SANE - which is the same
 backend as XSANE uses. This means that all existing scanners will
 work and the interface is well tested.

Package: simple-scan-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
 simple-scan (= ${binary:Version}),
 ${misc:Depends}
Description: Simple Scanning Utility - debugging symbols
 Simple Scan is an easy-to-use application, designed to let users
 connect their scanner and quickly have the image/document in an
 appropriate format.
 .
 This package provides the debugging symbols for simple-scan.
